.inputText {
  position: relative;
  display: flex;
  flex-direction: column;
  @include resize(width, 100%);
  @include resize(gap, 4);

  &:has(.inputText__element[disabled]) {
    pointer-events: none;
    .inputText {
      &__element {
        @include text(16px, 24px, 400);
        color: $color-black-30;
        background: $color-gray-100;
        border: 1px solid $color-gray-100;
        &::placeholder {
          @include text(16px, 24px, 400);
          color: $color-black-30;
        }
      }
    }
  }

  &__label {
    @include text(16px, 24px, 400);
    color: $color-primary;
  }

  &__element {
    @include resize(width, 100%);
    @include resize(height, 40);
    @include text(16px, 24px, 400);
    color: $color-primary;
    background: $color-white;
    border: 1px solid $color-black-30;
    @include resize(padding-block, 8);
    @include resize(padding-inline, 16);

    &:hover {
      border-color: $color-black-30;
    }

    &:focus-visible {
      outline: 2px solid $color-focus;
      outline-offset: 2px;
      border-color: $color-black-30;
    }
  }

  &__helpContainer {
    display: flex;
    align-items: center;
    @include resize(gap, 4);
  }

  &__helpIcon {
    display: block;
    flex-shrink: 0;
    @include resize(width, 16);
    @include resize(height, 16);

    &__imgContainer {
      display: block;
      width: 100%;
      height: 100%;
    }

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__helpText {
    @include text(16px, 24px, 400);
    color: $color-error;
    @include resize(font-size, $b2-fs);
    @include resize(line-height, $b2-lh);
  }

  &--invalid {
    .inputText {
      &__element {
        @include text(16px, 24px, 400);
        border-color: $color-error;

        &::placeholder {
          color: $color-error;
        }
      }
    }
  }
}
