/* Montserrat - Thin */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-100.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-100italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: block;
}

/* Montserrat - ExtraLight */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-200italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: block;
}

/* Montserrat - Light */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-300italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

/* Montserrat - Medium */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-500italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

/* Montserrat - SemiBold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-600italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

/* Montserrat - Bold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-700italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

/* Montserrat - ExtraBold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin-800italic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: block;
}
