.inputSelect {
  position: relative;
  display: flex;
  flex-direction: column;
  @include resize(gap, 4);
  @include resize(width, 100%);

  &__label {
    @include text(16px, 24px, 400);
    color: $color-primary;
  }

  &__wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include resize(width, 100%);
    @include resize(height, 40);
    @include text(16px, 24px, 400);
    color: $color-primary;
    background: $color-white;
    border: 1px solid $color-black-30;
    @include resize(padding-block, 8);
    @include resize(padding-inline, 16);

    &:hover {
      border: 1px solid $color-black-30;
    }

    &:focus-visible {
      outline: 2px solid $color-focus;
      outline-offset: 2px;
      border-color: $color-black-30;
    }

    &:after {
      content: "";
      flex-shrink: 0;
      cursor: pointer;
      position: relative;

      background: url("/icons/chevron-down.svg") no-repeat;
      background-position: center;
      background-size: contain;

      filter: brightness(0) saturate(100%) invert(9%) sepia(24%) saturate(379%) hue-rotate(7deg) brightness(100%)
        contrast(99%);

      @include resize(width, 24);
      @include resize(height, 24);

      transition: transform 0.2s ease;
    }

    &[aria-expanded="true"] {
      border: 1px solid $color-focus;

      &::after {
        transform: rotate(180deg);
      }
    }

    &[aria-disabled="true"] {
      pointer-events: none;
      background: $color-gray-100;
      border: 1px solid $color-black-30;

      .inputSelect__option {
        color: $color-black-30;
      }

      &::after {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7409%) hue-rotate(303deg) brightness(91%)
          contrast(78%);
      }
    }
  }

  &__option {
    appearance: none;
    position: relative;
    width: 100%;
    @include text(16px, 24px, 400);
    color: $color-primary;

    &--placeholder {
      color: $color-black-40;
    }
  }

  &__list {
    overflow-y: auto;
    z-index: 5;
    width: 100%;
    opacity: 0;
    max-height: 0;
    background: $color-white;
    border: 1px solid $color-black-30;
    border-radius: 4px;
    box-shadow: 0 4px 6px $color-black-10;

    transition:
      opacity 150ms 50ms ease-in,
      max-height 150ms ease-in;

    @include resize(gap, 4);
    @include resize(padding, 12);

    &--active {
      opacity: 1;
      pointer-events: all;

      @include resize(max-height, 250);
    }
  }

  &__item {
    cursor: pointer;

    border-radius: 4px;

    color: $color-primary;
    @include text(16px, 24px, 400);
    @include resize(padding, 12);

    &:hover {
      background: $color-gray-100;
    }

    &:focus-visible {
      outline: 2px solid $color-focus;
      outline-offset: 2px;
      border-color: $color-black-30;
    }
  }

  &__helpContainer {
    display: flex;
    align-items: center;
    @include resize(gap, 4);
  }

  &__helpIcon {
    display: block;
    flex-shrink: 0;
    @include resize(width, 16);
    @include resize(height, 16);

    &__imgContainer {
      display: block;
      width: 100%;
      height: 100%;
    }

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__helpText {
    font-weight: 600;
    font-family: $font-default;
    color: $color-error;
    @include resize(font-size, $b2-fs);
    @include resize(line-height, $b2-lh);
  }

  &--invalid {
    .inputSelect {
      &__wrapper {
        border-color: $color-error;
      }
    }
  }
}
