// Default
$color-black: #000;
$color-white: #fff;

// Focus
$color-focus: #0171e3;

// Dark
$color-primary: #010101;
$color-secondary: #171717;
$color-dark-divider: #2a303d;
$color-dark-card-hover: #2E2E2E;

// Gray
$color-gray-100: #ECECEC;

// Opacity
$color-white-30: #ffffff4d;
$color-white-56: #ffffff8f;
$color-white-60: #ffffff99;
$color-white-72: #ffffffb8;
$color-black-30: #0000004d;
$color-black-40: #00000066;
$color-black-60: #00000099;
$color-black-80: #000000cc;
