// Default
$color-black: #000;
$color-white: #fff;

// Dark
$color-menu-bg: #010101;
$color-dark-bg: #171717;
$color-dark-divider: #2a303d;
$color-dark-card-hover: #3d4859;

// Opacity
$color-white-30: #ffffff4d;
$color-white-56: #ffffff8f;
$color-white-60: #ffffff99;
$color-white-72: #ffffffb8;
$color-black-30: #0000004d;
$color-black-60: #00000099;
